.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;

    h2 {
        font-size: 20px;
        color: #333;
    }

    .closeIcon {
        font-size: 20px;
        color: #888;
        cursor: pointer;

        &:hover {
            color: #555;
        }
    }
}

.modalBody {
    padding: 0 10px;
}

.formGroup {
    margin-bottom: 15px;

    label {
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
        color: #555;
    }

    input,
    select {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;

        &:focus {
            outline: none;
            border-color: #273759;
        }
    }

    p {
        font-size: 12px;
        color: #777;
        margin-top: 5px;
    }
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    border-top: 1px solid #eee;
    margin-top: 20px;

    button {
        padding: 10px 14px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        margin-left: 10px;

        &.cancelBtn {
            background-color: #f0f0f0;
            color: #333;

            &:hover {
                background-color: #e0e0e0;
            }
        }

        &.saveBtn {
            background-color: #007bff;
            color: white;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

.form-group-static {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    label {
        font-size: 16px;
        font-weight: 600;
        color: #555;
        margin-right: 0px;
        min-width: 120px;
        /* Adjust as needed */
    }
}

.static-value {
    font-size: 16px;
    color: #333;
    padding: 8px 0;
    font-weight: 700;
}