.wrapper {
    width: 180px;
    margin-top: 60px;
    background-color: #2d406b;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.sidebar {
    height: 200vh;
    overflow-y: auto;
    font-size: 16px;
    color: var(--text-color);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    justify-content: center;
}

.sidebar ul a {
    color: var(--white);
    padding: 10px;
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    border-left: 4px solid transparent;
    transition:
        background 0.2s,
        color 0.2s,
        border-left 0.2s;

    &.active {
        background-color: #273759;
        border-left: 4px solid #f39c12;
        color: var(--white);
    }

    &:hover {
        color: var(--white);
        background-color: #273759;
        border-left: 4px solid #f39c12;
    }
}

.sidebar h3 {
    margin-bottom: 10px;
    margin-left: 5px;
    color: var(--white);
    font-size: 18px;
}
